modules = ["nodejs-18:v3-20230608-f4cd419"]
hidden = [".config", "package-lock.json"]
run = "npm run start"

[nix]
channel = "stable-23_05"

[deployment]
deploymentTarget = "static"
ignorePorts = false
build = ["sh", "-c", "npm run build"]
publicDir = "build"
